.clickable {
  display: none;
}

.clickable1 {
  display: none;
}

.clickable2 {
  display: none;
}

.clickable3 {
  display: none;
}

.clickable4 {
  display: none;
}

.clickable5 {
  display: none;
}

.clickable6 {
  display: none;
}

.clickable7 {
  display: none;
}

.clickable8 {
  display: none;
}

.clickable9 {
  display: none
}

.clickable10 {
  display: none
}

.clickable11 {
  display: none
}

.clickable12 {
  display:none
}

.clickable13 {
  display:none
}

.clickable14 {
  display:none
}

.clickable15 {
  display:none
}

.clickable16 {
  display:none
}

.clickable17 {
  display:none
}

.clickable18 {
  display:none
}